
.p-3.border.bg-light {
    margin: 0 -5px;
    text-align: center;
    font-weight: bold;
}
a.text-decoration-none {
    color: #000;
}
a.text-decoration-none:hover {
    color: orange;
}

.card-body {
    position: absolute;
    bottom: -25px;
}
.content>a.text-decoration-none {
    color: white;
}
.card-body.position-absolute.top-50.start-0{
    top: 55% !important;
}
.card-body.position-absolute.top-50.start-0.text-dark {
    top: 55% !important;
}
a.btn.btn-primary {
    background-color: #e94b00;
    font-size: 20px;
    font-weight: bold;
    border: none;
    height: 50px;
    border-radius: 0;
}